/* ProductDisplay.module.scss */

.productPage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 10px;
  background-color: rgb(243, 241, 241);
}

.productInfo {
  flex: 1;
  padding: 20px;
  // border: 1px solid #ccc;
  // border-radius: 8px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.productImage {
  padding: 20px;
  width: 40%;
}
.mainImage img {
  width: 300px;
  height: 360px;
}
.eachImage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Add more specific styles based on your design requirements */
.eachImage img {
  margin-top: 10px;
}
.oldprice {
  text-decoration: line-through;
  color: grey;
}
.rating {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.feature_icons {
  display: flex;
}

.feature_icons div {
  width: 130px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  align-items: center;
  color: rgb(0, 170, 255);
  font-size: small;
}

.percentageOff {
  color: red;
}
.addtocart {
  background: rgb(241, 203, 34);
  color: white;
  border: none;
  border-radius: 40px;
  width: 200px;
  height: 40px;
  margin-top: 20px;
}
.smallImage {
  margin: 20px;
}
.smallImage img {
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 70px;
  margin-top: 10px;
}
